.footer{
	position:absolute; 
	bottom:0%; 
	width:100%; 
	height: 60px; 
	line-height:30px;
	background-color: $off-balck; 
	display:block;  
	background:$off-balck; 
	color:white; 
	margin-bottom:0; 
	padding:$m-size;
	font-size:$m-size;
	a{
		color:#aaa; 
		font-weight: 200; 
	}  
}	

// @media (min-width:$desktop-breakpoint) {
// 	.footer {
// 		margin-bottom:0; 
// 	}
